<template>
<div class="skills">
  <div id="content" class="container text-left">
    <div class="page">
      <h1>
        <router-link to="/skills"><img class="" src="../assets/backarrow.svg" alt="Back"></router-link>&nbsp;{{skill.title}}
      </h1>
      <div class="text-left">
        <p>{{skill.description}}</p>
        <p>{{skill.purpose}}</p>
        <h2>Tasks</h2>
        <ul>
          <li v-for="task in tasks" :key="task.id" class="task">{{task.title}}</li>
        </ul>
        <router-link to="/statistics"><button class="btn btn-warning bg-secondary text-center">Skill starten!</button></router-link>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'DeepDive',
  components: {

  },
  data: function () {
    return {
      tasks: []
    }
  },
  computed: {
    skill: function () {
      return this.getCurrentSkill()
    }
  },
  methods: {
    getCurrentSkill: function () {
      return this.$store.state.skills.filter(skill => skill.id === this.$route.params.skill)[0]
    },
    getSkillTasks: function () {
      console.log('hey')
      axios
        .get('https://9pvgib8rn5.execute-api.eu-central-1.amazonaws.com/dev/all-tasks/' + encodeURIComponent(this.getCurrentSkill().title))
        .then(response => {
          console.log(response)
          this.tasks = response.data
        })
        .catch(console.warn)
    }
  },
  beforeCreate: function () {
    this.$store.dispatch('loadLocalUser')
    this.$store.dispatch('refreshUserTasks')
  },
  created: function () {
    this.getSkillTasks()
  }
}
</script>
