
<template>
  <div id="content" class="home bg-primary">
    <div class="page">
      <div id="logo">
        <img alt="offie logo" class="logo-banner" src="../assets/logo.png">
      </div>
      <br />
      <br />
      <router-link to="/onboarding"><button class="btn btn-primary transition-show-2sek" v-on:click="show = !show">Get started</button></router-link>
    </div>
  </div>
</template>
