<template>
<div class="onboarding">
  <div id="content" class="container">
    <div class="page">
      <div class="logo text-center">
        <img alt="offie logo" class="logo-lampe text-center" src="../assets/logo_lamp.png">
      </div>
      <h1>Register</h1>
      <b-form @submit.stop.prevent>
        <label class="input-text" for="email">E-Mail</label> <br />
        <b-input id="email" class="design" name="email" type="text" placeholder="mail@domain.com"></b-input> <br />
        <label class="input-text" for="text-password">Passwort</label>
        <b-input type="password" class="design" id="text-password" name="password"></b-input>

        <div class="nutzungsbedingungen-text">Indem du dich registrierst, stimmst du unseren <router-link to="/quest">Nutzungsbedingungen</router-link> zu.</div>
        <br />
        <submit class="btn btn-warning register text-white" :click="register">Registrieren</submit>
      </b-form>
    </div>
    <div class="page">
      <b-form @submit.stop.prevent>
        <div class="logo text-center">
          <img alt="offie logo" class="logo-lampe text-center" src="../assets/logo_lamp.png">
        </div>
        <h1>Login</h1>
        <label class="input-text" for="email">E-Mail</label> <br />
        <b-input id="email" class="design" name="email" type="text" placeholder="mail@domain.com" v-model="registerMail"></b-input> <br />
        <label class="input-text" for="text-password">Passwort</label>
        <b-input type="password" class="design" id="text-password" name="password" v-model="registerPassword"></b-input>
        <p>Mail: {{registerMail}}, Pw: {{registerPassword}}</p>
        <div class="nutzungsbedingungen-text">
          <router-link to="/reset-password">Passwort vergessen?</router-link>
        </div>
        <br />
        <submit class="btn btn-warning register text-white">Login</submit>
      </b-form>
    </div>
    <div class="page">
      <h1>Socializing im Homeoffice</h1>
      <b-form @submit.stop.prevent>
        <b-form-group label="Wie gut fühlst du dich im Homeoffice an deine Teamkolleg:innen angebunden?—-">
          <b-form-radio name="socializing-in-homeoffice-1" value="Gut">Gut</b-form-radio>
          <b-form-radio name="socializing-in-homeoffice-1" value="In Ordnung">In Ordnung</b-form-radio>
          <b-form-radio name="socializing-in-homeoffice-1" value="Schlecht">Schlecht</b-form-radio>
        </b-form-group>
        <b-form-group label="Wie wichtig ist dir eine (soziale) Anbindung an dein Team?—-">
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="0">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="1">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="2">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="3">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="4">&nbsp;</b-form-radio>
        </b-form-group>
        Weniger&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sehr
      </b-form>
    </div>
    <div class="page">
      <h1>Danke für deine Antworten!</h1>
      <p>Darauf basierend werden wir dir Tasks zuschicken, die du abarbeiten kannst. </p>
      <p>Wir benutzen Slack, damit wir dir deine Homeoffice Tasks jederzeit kommunizieren können. Verbinde dazu bitte deinen Slack account.</p>
      <a :href="slackAuthUri">Slack mit offie verbinden</a>

      <p>{{slackAuthUri}}</p>
    </div>
  </div>
</div>
</template>
<script>
import store from '../store/index'

export default {
  name: 'Onboarding',
  components: {

  },
  data: function () {
    return {
      registerMail: '',
      registerPassword: ''
    }
  },
  computed: {
    slackAuthUri () {
      return 'https://slack.com/oauth/authorize' +
        '?client_id=1005346619763.1019029244150' +
        '&scope=chat:write:bot' +
        '&redirect_uri=https://9pvgib8rn5.execute-api.eu-central-1.amazonaws.com/dev/oauth' +
        '&state=' + encodeURIComponent('{"user":"' + store.state.user.mail + '" ,"redirect":"' +
          window.location.protocol + '//' + window.location.host + '/#/slackauth"}')
    }
  }
}
</script>
