<template>
<div class="onboarding">

  <div id="content" class="container">
    <div class="page">
      <h1>Socializing im Homeoffice</h1>
      <b-form @submit.stop.prevent>
        <b-form-group label="Wie gut fühlst du dich im Homeoffice an deine Teamkolleg:innen angebunden?—-">
          <b-form-radio name="socializing-in-homeoffice-1" value="Gut">Gut</b-form-radio>
          <b-form-radio name="socializing-in-homeoffice-1" value="In Ordnung">In Ordnung</b-form-radio>
          <b-form-radio name="socializing-in-homeoffice-1" value="Schlecht">Schlecht</b-form-radio>
        </b-form-group>
        <div class="center">
        <b-form-group label="Wie wichtig ist dir eine (soziale) Anbindung an dein Team?—-">
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="0">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="1">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="2">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="3">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="4">&nbsp;</b-form-radio>
        </b-form-group>
        <div style="margin-top: -10px;">Weniger<span class="color-white">&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;</span>Sehr</div>
        </div>
      </b-form>
      <router-link to="/overview"><button class="btn btn-warning bg-secondary transition-show-2sek" v-on:click="show = !show">Weiter</button></router-link>
    </div>
  </div>
</div>
</template>
<script>
export default {
  name: 'Onboarding',
  components: {

  },
  data: function () {
    return {}
  }
}
</script>
