<template>
  <div id="content" class="container">
    <div class="page">
      <h1>Übersicht</h1>
      <div>
        <p>Wie gut fühlst du dich im Homeoffice an deine Teamkolleg:innen angebunden?</p>
        <p><strong>Schlecht</strong></p>
      </div>
      <div>
        <p>Wie wichtig ist dir eine (soziale) Anbindung an dein Team?</p>
        <p><strong>Sehr wichtig</strong></p>
      </div>
      <router-link to="/register"><button class="mt-3 btn btn-primary">Register</button></router-link>
    </div>
  </div>
</template>
