<template>
  <div class="skills">
    <div id="content" class="container text-left">
      <div class="page">
        <h1>Fortschritt</h1>
        <div style="width: 70%" class="text-center">
          <img src="../assets/spinnendiagram.png"  style="width: 100%" align="center">
        </div>
        <div style="width: 100%" class="text-center">
          <img src="../assets/legende.png"  style="width: 100%" align="center">
        </div>
      </div>
      <nav class="navbar fixed-bottom navbar-light bg-secondary">
        <div style="width: 50%; padding-left: 30px; height: 100%; float: left;" class="bg-secondary "><a class="navbar-brand" href="#/skills">Themen</a></div>
        <div style="width: 50%; padding-right: 30px; text-align: right;" class="bg-light"><a class="navbar-brand" href="#/progress">Fortschritt</a></div>
      </nav>
  </div>
  </div>
</template>
