<template>
  <div class="quest">
    <div class="page">
      <h1>Socializing im Homeoffice</h1>
      <b-form @submit.stop.prevent>
        <b-form-group label="Wie gut fühlst du dich im Homeoffice an deine Teamkolleg:innen angebunden?—-">
          <b-form-radio name="socializing-in-homeoffice-1" value="Gut">Gut</b-form-radio>
          <b-form-radio name="socializing-in-homeoffice-1" value="In Ordnung">In Ordnung</b-form-radio>
          <b-form-radio name="socializing-in-homeoffice-1" value="Schlecht">Schlecht</b-form-radio>
        </b-form-group>
        <b-form-group label="Wie wichtig ist dir eine (soziale) Anbindung an dein Team?—-">
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="0">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="1">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="2">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="3">&nbsp;</b-form-radio>
          <b-form-radio inline="true" name="socializing-in-homeoffice-2" value="4">&nbsp;</b-form-radio>
        </b-form-group>
        Weniger&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sehr
      </b-form>
    </div>
  </div>
</template>
