<template>
<div class="onboarding">
  <div id="content" class="container">
    <div class="page">
      <div class="logo text-center">
        <img alt="offie logo" class="logo-lampe text-center" src="../assets/logo_lamp.png">
      </div>
      <h1>Register</h1>
      <b-form @submit.stop.prevent>
        <label class="input-text" for="email">E-Mail</label> <br />
        <b-input v-model="registerMail" id="email" class="design" name="email" type="text" placeholder="mail@domain.com"></b-input> <br />
        <label class="input-text" for="text-password">Passwort</label>
        <b-input v-model="registerPassword" type="password" class="design" id="text-password" name="password"></b-input>

        <div class="nutzungsbedingungen-text">Indem du dich registrierst, stimmst du unseren <router-link to="/quest">Nutzungsbedingungen</router-link> zu.</div>
        <br />
        <submit class="btn btn-warning register text-white" @click="register">Registrieren</submit>
      </b-form>
    </div>
  </div>
</div>
</template>
<script>
import store from '../store/index'

export default {
  name: 'Register',
  components: {

  },
  data: function () {
    return {
      registerMail: '',
      registerPassword: ''
    }
  },
  computed: {
    slackAuthUri () {
      return 'https://slack.com/oauth/authorize' +
        '?client_id=1005346619763.1019029244150' +
        '&scope=chat:write:bot' +
        '&redirect_uri=https://9pvgib8rn5.execute-api.eu-central-1.amazonaws.com/dev/oauth' +
        '&state=' + encodeURIComponent('{"user":"' + store.state.user.mail + '" ,"redirect":"' +
          window.location.protocol + '//' + window.location.host + '/#/slackauth"}')
    }
  },
  methods: {
    register: function () {
      store.dispatch('registerUserWithBackendAndLogin', { mail: this.registerMail, password: this.registerPassword })
      this.$router.push('SlackConsent')
    }
  }
}
</script>
