<template>
  <div class="skills">
    <div id="content" class="container text-left">
      <div class="page">
        <h1>Themen</h1>
        <div class="card-columns col-lg-8">
          <div class="card bg-grey">
            <router-link to="/deepdive/socializing">
              <div class="card-body">
              <h3 class="card-title text-left">Socializing im Homeoffice</h3>
            </div>
            <div class="float-right small-card "><img class="card-img-top small-card" src="../assets/undraw_friends_online_klj6.svg" alt="Friends online"></div>
            </router-link>
          </div>
          <div class="card bg-grey">
            <router-link to="/deepdive/remotemeetings">
            <div class="card-body">
              <h3 class="card-title text-left">Effective Remote Meetings</h3>
            </div>
            <div class="float-right small-card "><img class="card-img-top small-card" src="../assets/undraw_freelancer_b0my.svg" alt="Friends online"></div>
            </router-link>
          </div>
          <div class="card bg-grey">
            <router-link to="/deepdive/trennung">
            <div class="card-body">
              <h3 class="card-title text-left">Arbeit und Privates im Homeoffice</h3>
            </div>
            <div class="float-right small-card "><img class="card-img-top small-card" src="../assets/undraw_relaxing_at_home_9tyc.svg" alt="Friends online"></div>
            </router-link>
          </div>
          <div class="card bg-grey ">
            <router-link to="/deepdive/keinarbeitsweg">
            <div class="card-body">
              <h3 class="card-title text-left">Kein Arbeitsweg = Mehr Zeit</h3>
            </div>
            <div class="float-right small-card "><img class="card-img-top small-card" src="../assets/undraw_time_management_30iu.svg" alt="Friends online"></div>
            </router-link>
          </div>
          <div class="card bg-grey ">
            <router-link to="/deepdive/networking">
              <div class="card-body">
                <h3 class="card-title text-left">Networking 2.0</h3>
              </div>
              <div class="float-right small-card "><img class="card-img-top float-right small-card" src="../assets/undraw_businessman_97x4.svg" alt="Friends online"></div>
            </router-link>
          </div>
        </div>
      </div>
      <nav class="navbar fixed-bottom navbar-light bg-secondary">
        <div style="width: 50%; padding-left: 30px; height: 100%; float: left;" class="bg-light"><a class="navbar-brand" href="#/skills">Themen</a></div>
        <div style="width: 50%; padding-right: 30px; text-align: right;" class="bg-secondary "><a class="navbar-brand" href="#/progress">Fortschritt</a></div>
      </nav>
  </div>
  </div>
</template>
