<template>
<div id="content" class="container">
  <div>
    <h1>Danke für deine Antworten!</h1>
    <p>Darauf basierend werden wir dir Tasks zuschicken, die du abarbeiten kannst. </p>
    <p>Wir benutzen Slack, damit wir dir deine Homeoffice Tasks jederzeit kommunizieren können. Verbinde dazu bitte deinen Slack account.</p>
    <a :href="slackAuthUri">Slack mit offie verbinden <img src="../assets/window.svg"></a>
  </div>
</div>
</template>
<script>
import store from '../store/index'

export default {
  name: 'SlackAuth',
  components: {

  },
  data: function () {
    return {}
  },
  computed: {
    slackAuthUri () {
      return 'https://slack.com/oauth/authorize' +
        '?client_id=1005346619763.1019029244150' +
        '&scope=chat:write:bot' +
        '&redirect_uri=https://9pvgib8rn5.execute-api.eu-central-1.amazonaws.com/dev/oauth' +
        '&state=' + encodeURIComponent('{"user":"' + store.state.user.mail + '" ,"redirect":"' +
          window.location.protocol + '//' + window.location.host + '/#/slackauth"}')
    }
  }
}
</script>
