<template>
  <div class="statistics">
    <div id="content" class="container text-left">
      <div class="page">
        <h1>Status</h1>
        <div class="skill bg-grey">
          <div class="card-body">
            <h2 class="card-title text-left">Socializing im Homeoffice</h2>
          </div>
          <div class="small-card"><img class="card-img-top pull-right" src="../assets/undraw_friends_online_klj6.svg" alt="Friends online"></div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill bg-grey">
          <div class="card-body">
            <h2 class="card-title text-left">Effective Remote Meetings</h2>
          </div>
          <div class="small-card text-right"><img class="card-img-top" src="../assets/undraw_freelancer_b0my.svg" alt="Friends online"></div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
