body {
  background-color: #ffffff;
  font-family: Sen, sans-serif;
  font-size: 1rem;
}
 * {
   font-family: Sen, sans-serif;
   font-size: 1rem;
 }

.navbar {
  padding:0 !important;
}
.navbar a:hover{
  background-color: #F1F0F6 !important;
  color: #202020;
}
.navbar * {
  font-size: 1.5rem;
}

h1 {
  color: #202020;
  font-family: Sen, SansSerif;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 2.7rem;
  padding-top: 0.5rem;
}
h2 {
  color: #202020;
  font-family: Sen, SansSerif;
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 2.7rem;
  padding-top: 0.5rem;
}
h3 {
  color: #202020;
  font-family: Sen, SansSerif;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1rem;
}

ul>li.task {
  list-style-image: url("tasks.png");
  line-height: 20px;
}
#wrapper{}

.home{
   min-height: 100%;
   height: 100%;
 }

.logo {
}

.logo-lampe {
  margin-top: 15vh;
  max-width: 25%;
}
.logo-banner{
  margin-top: 40vh;
  max-width: 50%;
}

label.input-text {
  color: #202020;
  font-family: Sen, SansSerif;
  font-size: 1.1rem;
  letter-spacing: 0;
  line-height: 1.3rem;
  padding-top: 0.5rem;
}

.custom-control-label {
  margin: 10px 0 0 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    padding: 5px;
    margin-left: 0;
    margin-right: 10px;
    width: 150px;
    float: left;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .card {
    padding: 5px;
    margin-left: 0;
    margin-right: 10px;
    width: 150px;
    float: left;
    height: 200px;
  }
}
.card-columns {
  margin-left: 0;
  padding-left: 0;
}
.card-body {
  padding: 10px;
}

div.card>a:hover {
  text-decoration: none;
  color: #F7B500 !important;
}
.design {
  height: 3rem;
  width: 100%;
  background-color: #F1F0F6;
  border-width: 0;
  border-radius: 2px;
  font-family: Sen, SansSerif;
  font-size: 1.1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.active {
  box-shadow: -5px 4px 0 0 #B1CBFF !important;
}

.nutzungsbedingungen-text {
  padding-top: 1rem;
  font-family: Sen, SansSerif;
  font-size: 0.9rem;
  line-height: 1rem;
}

submit.register {
  width: 100% !important;
  font-family: Sen, SansSerif;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: #F7B500 !important;
  color: #FFFFFF !important;
  padding: 0.6rem;
}
.bg-primary{
  background-color: #699BFF !important;
}
.bg-secondary {
  background-color: #F7B500 !important;
  color: #FFFFFF !important;
}
.bg-grey {
  border-radius: 2px;
  background-color: #F1F0F6;
}
.color-white {
  color: #ffffff !important;
}
.skill {
  margin-top: 5px;
}
.small-card {
  width: 7rem;
  alignment: right;
}

#content {
  padding: 2rem;
}
.container {
  //scroll-snap-type: y mandatory;
  //overflow: auto;
  //height: 100vh;
}
.container .page {
  //scroll-snap-align: start;
  //height: 80vh;
  text-align: left;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #202020;
  height: 100vh;
  overflow: auto;
}

#nav {
  display:none;
  padding: 30px;

  a {
    font-weight: bold;
    color: #F7B500;

    &.router-link-exact-active {
      color: #F7B500;
    }
  }
}


#app .transition-show-2sek {
  animation: fadein 2s;
  animation-delay: 2s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.moveUp-enter-active {
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.moveUp-leave-active {
  animation: moveUp 0.3s ease-in;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70vh);
  }
}
