<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      |
      <router-link to="/onboarding">Onboarding</router-link>
      |
      <router-link to="/quest">Quests</router-link>
      |
      <router-link to="/reward">Reward</router-link>
      |
      <router-link to="/statistics">Statistics</router-link>
      |
      <router-link to="/nutzungsbedingungen">Nutzungsbedingungen</router-link>
      |
      <router-link to="/datenschutz">Datenschutz</router-link>
      |
      <router-link to="/reset-password">Passwort vergessen?</router-link>
      |
      <router-link to="/skills">Skills</router-link>
    </div>
    <transition name="moveUp">
      <router-view></router-view>
    </transition>
  </div>
</template>
